<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <style>
        body {
            background-color: #333;
            font-family: Arial, Helvetica, sans-serif;
            color: #fff;
        }
        h1 {
            text-align: center;
            color: #fff;
        }
        p {
            max-width: 600px;
            margin: 0 auto;
            font-size: 18px;
            line-height: 1.5;
            text-align: justify;
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
        <a href="index.html">Home</a>
        <a href="#">About</a>
        <a href="teaminfo.html">Team Info</a>
        </nav>
    </header>
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur eleifend mi, in gravida elit malesuada id. Nunc vitae eros vel purus dictum blandit sit amet sed arcu. Phasellus in odio vel quam eleifend bibendum. Praesent finibus risus at ante pharetra dignissim. Duis euismod lectus sapien, in imperdiet sapien aliquam quis. Donec sit amet sem eu magna pellentesque fermentum. Aenean gravida aliquam tellus quis feugiat. Nulla interdum viverra tellus at dictum. Curabitur non bibendum nibh.</p>
</body>
</html>
